Repository CPSC319-2022/JungleCart, pull requests merged in 2023-04, with the labels that each got.

#229 Increased optimization and reduce model size
  backend/config/database.json
  backend/src/lambda/products-lambda/controller.ts
  backend/src/layer/common/core/SQLManager.ts
  backend/src/layer/common/models/product/composite/ProductsCompositeModel.ts
  backend/src/layer/common/models/product/primitive/ProductSearchModel.ts
  backend/tests/integration/lambda/products-lambda/controller.test.ts
Labels: bug, backend

#249 JC-232 be : Edit payment method
  backend/src/lambda/users-lambda/UserController.ts
  backend/src/lambda/users-lambda/index.ts
  backend/src/layer/common/models/user/UserModel.ts
  backend/src/layer/common/services/user/index.ts
Labels: bug, enhancement, backend

#223 JC-200: update order status to completed if all items are delivered
  backend/resources/init-db.sql
  backend/src/lambda/orders-lambda/controller.ts
  backend/src/layer/common/models/order/OrderModel.ts
Labels: enhancement, backend

#251 updated checkout page
  frontend/src/pages/checkout/checkout.module.css
  frontend/src/pages/checkout/index.jsx
  frontend/src/styles/globals.css
Labels: enhancement, frontend

#266 JC-252: Updated cart page
  frontend/src/pages/cart/Cart.module.css
  frontend/src/pages/cart/index.jsx
Labels: enhancement, frontend, design
